.search-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.search-input {
    border-radius: 50px;
    height: 40px;
    width: 40%;
    font-family: arial, sans-serif;
    font-size: 16px;
    outline: unset;
    padding-inline-start: 30px;
    margin-top: 40px;
    border: solid 1px #dfe1e5;
}

header{
    box-shadow: unset;
}

.flex-center{
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 500px) {
    .search-input{
        width: 80%;
    }

    .flex-center{
        flex-direction: column;
    }
}